html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-feature-settings: 'ss02' on;
  color: var(--black);
  background-color: var(--lighter-gray);
  overflow: hidden;
}
:root{
  --primary:#179FB0;
  --secondary:#D3F3F8;
  --tertiary:#99E7F1;
  --gray:  #797979;
  --light-gray: #D3D3D3;
  --lighter-gray: #F1F1F1;
  --black: #2D2D2D;
  --red: #EC5566;
  --light-red:#FCE6E8;
  --green: #42B999;
  --light-green:#E3F8F3;
  --blue: #418EEF;
  --yellow: #DEA41E;
  --orange: #EF860A;
  --white:#FFFFFF;
}
/* main class styling */
.main-class2{
  background-color: var(--lighter-gray);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
 }
 .main-class2::-webkit-scrollbar{
  display: none;
 }
.notification::-webkit-scrollbar{
  display: none;
 }
 .banners::-webkit-scrollbar{
  display: none;
 }
 /* widths */
 .w-fit-content{
  width: fit-content;
 }
 .w-max-content{
  width: max-content;
 }
 .w-inherit{
  width: inherit;
 }
 .w-100px{
   width: clamp(5rem, 4.1667rem + 1.7361vw, 6.25rem);
 }

 /* heights */
 .h-fit-content{
  height: fit-content;
 }
.h-40{
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem);
}
.h-48{
  height:clamp(2.5rem, 2.1667rem + 0.6944vw, 3rem);
}
.h-80{
  height:clamp(4rem, 3.3333rem + 1.3889vw, 5rem);
}
.h-100px{
  height: clamp(5rem, 4.1667rem + 1.7361vw, 6.25rem);
}
.h-140{
  height: clamp(6.25rem, 4.5833rem + 3.4722vw, 8.75rem);
}
.h-100{
  height: 100vh;
}
.h-358{
  height:clamp(11.375rem, 4.0417rem + 15.2778vw, 22.375rem);;
}
.h-480{
  height: 30rem;
}
.h-538{
  height:538px;
}
.h-1000{
  height: 1000px;
}
.top-none{
  top: 0;
}
.left-none{
  left: none;
}
.z-index {
  z-index: 999999;
}
.z-index-popup{
  z-index: 9999;
}
/* flex */
.d-flex{
  display: flex;
}
.d-flex-row{
  flex-direction:row;
}
.d-flex-column{
  flex-direction: column;
}
.d-flex-column-reverse{
  flex-direction: column-reverse;
}
.d-align-center{
  align-items:center;
}
.d-align-start{
  align-items:flex-start;
}
.d-align-end{
  align-items:flex-end;
}
.d{
  align-items: baseline;
}
.d-justify-center{
  justify-content:center;
}
.d-justify-start{
  justify-content:flex-start;
}
.d-justify-end{
  justify-content:flex-end;
}
.d-justify-space-between{
  justify-content: space-between;
}
.d-justify-space-around{
  justify-content: space-around;
}
.self-center{
  align-self: center;
}
.self-end{
  align-self: flex-end;
}

/* positions */
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}
.p-sticky{
  position: sticky;
}

/* overflows */
.o-hidden{
  overflow:hidden;
}
.ox-hidden{
  overflow-x:hidden;
}
.oy-hidden{
  overflow-y:hidden;
}
.o-scroll{
  overflow:scroll;
}
.ox-scroll{
  overflow-x:scroll;
}
.oy-scroll{
  overflow-y:scroll;
}

/* gaps */
.gap-1{
  gap:clamp(0.1875rem, 0.1458rem + 0.0868vw, 0.25rem);
}
.gap-2{
  gap:clamp(0.375rem, 0.2917rem + 0.1736vw, 0.5rem);
}
.gap-3{
  gap: clamp(0.625rem, 0.5417rem + 0.1736vw, 0.75rem);
}
.gap-4{
  gap:clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}
.gap-5{
  gap:clamp(1.125rem, 1.0417rem + 0.1736vw, 1.25rem);
}
.gap-6{
  gap:clamp(1.25rem, 1.0833rem + 0.3472vw, 1.5rem);
}
.gap-8{
  gap: clamp(1.75rem, 1.5833rem + 0.3472vw, 2rem);
}
.gap-10{
  gap:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem);
}
.gap-12{
  gap: clamp(2.875rem, 2.7917rem + 0.1736vw, 3rem);
}
.gap-13{
  gap:clamp(3rem, 2.8333rem + 0.3472vw, 3.25rem);
}

.outline-none{
  outline: none;
}

/* border stylings */
.border-none{
  border:none;
}
.border-primary{
  border: 1px solid var(--primary);
}
.border-light-gray{
  border: 1px solid var(--light-gray);
}
.border4-lighter-gray{
  border: 3px solid var(--lighter-gray);
}
.border-bottom-primary{
  border-bottom: 4px solid var(--primary);
}
.border-bottom-gray{
  border-bottom: 1px solid var(--light-gray);
}
.border-right-gray{
  border-right: 1px solid var(--light-gray);
}
.border-rounded-4{
  border-radius: 4px;
}
.border-rounded-8{
  border-radius: 8px;
}
.border-rounded-12{
  border-radius: 12px;
}
.border-rounded-16{
  border-radius: 16px;
}
.border-rounded-20{
  border-radius: 20px;
}
.border-circle{
  border-radius: 100px;
}
.border-msg-r{
  border-radius: 2px 20px 20px 20px;
}
.border-msg-s{
  border-radius: 20px 2px 20px 20px;
}
/* box-shadow */
.box-s{
  box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.2);
}
/* colors */
.color-primary{
  color: var(--primary);
}
.color-gray{
  color: var(--gray);
}
.color-light-gray{
  color: var(--light-gray);
}
.color-black{
  color: var(--black);
}
.color-white{
  color: var(--white);
}
.color-red{
  color: var(--red);
}
.color-green{
  color: var(--green);
}
.color-yellow{
  color: var(--yellow);
}

/* background */
.bg-white{
  background: var(--white);
}
.bg-primary{
  background: var(--primary)
}
.bg-secondary{
  background: var(--secondary);
}
.bg-light-red{
  background: var(--light-red);
}
.bg-gray{
  background: var(--gray);
}
.bg-lighter-gray{
  background: var(--lighter-gray);
}
.bg-green{
  background: var(--green);
}
.bg-light-green{
  background: var(--light-green);
}
.bg-red{
  background: var(--red);
}
/* cursor */
.cursor{
  cursor: pointer;
}

/* display */
.display-none{
  display: none;
}


/* input's style */
input{
  height: clamp(2.5rem, 2.1667rem + 0.6944vw, 3rem);;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size:clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
  line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
  color: var(--gray);
  outline: none;
}

input::placeholder{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.1000rem + 0.1250vw, 1.25rem);
  line-height: clamp(1.375rem, 1.3000rem + 0.3750vw, 1.75rem);
  color: var(--gray);
}
textarea{
  height: 2rem; 
  outline: none;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.1000rem + 0.1250vw, 1.25rem);
  line-height: clamp(1.375rem, 1.3000rem + 0.3750vw, 1.75rem);
  color: var(--gray);
  overflow-y: scroll;
}
textarea::-webkit-scrollbar{
  display: none;
}
textarea::placeholder{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.1000rem + 0.1250vw, 1.25rem);
  line-height: clamp(1.375rem, 1.3000rem + 0.3750vw, 1.75rem);
  color: var(--gray);
}
.search-input::placeholder{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: 'ss02' on;
  color: var(--gray);
}

/* buttons */
.btn{
 height: clamp(2.5rem, 2.1667rem + 0.6944vw, 3rem);
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--primary);
 border: none;
 border-radius: 12px;
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 700;
 font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
 line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
 color: var(--white);
 cursor: pointer;
}
.btn-secondary-gray{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--gray);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-gray{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--gray);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-secondary-red{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--red);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-red{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--red);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-secondary-green{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--green);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-green{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--green);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-secondary-blue{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--blue);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-blue{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--blue);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-secondary-yellow{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--yellow);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-yellow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--yellow);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-secondary-black{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--black);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-secondary-orange{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  height:clamp(2rem, 1.6667rem + 0.6944vw, 2.5rem); ;
  background: var(--orange);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 20px;
  color: var(--white);
}
.btn-status-orange{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-right: clamp(0.625rem, 0.5500rem + 0.3750vw, 1rem);
  padding-top: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  padding-bottom: clamp(0.3125rem, 0.2750rem + 0.1875vw, 0.5rem);
  background: var(--orange);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  border: none;
  border-radius: 12px;
  color: var(--white);
}
.btn-tertiary{
  width: clamp(6.25rem, 5.4167rem + 1.7361vw, 7.5rem);
  border: none;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6667rem + 0.1736vw, 0.875rem);
  line-height: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  padding: 9px 12px;
  background: var(--lighter-gray);
  border-radius: 8px;
  border: 1px dashed var(--light-gray);
}
.btn-view{
  width: 2.25rem;
  height: 2.25rem;
  background: var(--primary);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

/* menubar styling */
.inactive{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(0.625rem, 0.5417rem + 0.1736vw, 0.75rem);
  border-radius: 8px;
  background: none;
  cursor: pointer;
}
.active{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(0.625rem, 0.5417rem + 0.1736vw, 0.75rem);
  border-radius: 8px;
  background: var(--secondary);
}

/* dropdown-styling */
.transition{
  transition: all 0.4s;
}


/* table-styling */
.table::-webkit-scrollbar{
  display: none;
}
.table-header{
  top: 0;
  position: sticky;
  background: var(--secondary);
  z-index: 9;
}
.table-header>*{
  height:clamp(2.5rem, 2.1667rem + 0.6944vw, 3rem);
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
  line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
  color: var(--black);
  font-feature-settings: 'ss02' on;
  border-right:1px solid var(--light-gray) ;
  word-break: break-word;
}
.table-body>*{
  height:clamp(3.875rem, 3.5417rem + 0.6944vw, 4.375rem);
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8500rem + 0.1250vw, 1rem);
  line-height: clamp(1.25rem, 1.2250rem + 0.1250vw, 1.375rem);
  color: var(--black);
  font-feature-settings: 'ss02' on;
  border-right:1px solid var(--light-gray) ;
  word-break: break-word;
  background: var(--white);
}

.red{
  background: red;
}

/* sidebar-hamburger */
.sidebar{
  display: none;
}
.sidebar-active{
  position: absolute;
  left: none;
  z-index: 99;
  width: 280px;
}

/* modal-style */
.modal-container{
  height:100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(10px); */
  background-blend-mode: darken;
  z-index:999999;
  display:flex;
  align-items: center;
  justify-content: center;
}
.modal-verify{
  margin:0 auto;
}

/* toggle-styling */
.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
}
.switch>input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: var(--light-gray);
  transition: 0.4s;
  border-radius: 100px;
}
.slider:before{
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  top: -4px;
  background-color: var(--gray);
  border-radius: 100px;
  transition: 0.4s;
}
input:checked + .slider{
  background: var(--tertiary);
}
input:checked + .slider:before{
  background: var(--primary);
  transform: translateX(18px);
}
.card:hover{
  border: 2px solid var(--primary);
}

/* loader */
.loader{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 227, 227, 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  z-index: 99999999;
  top:0;
  left:0;
}

.deliverables{
  width: 250px;
  height: 150px;
  border-radius: 12px;
}

.bg{
  background-color: var(--secondary);
  border: 3px solid var(--tertiary);
}